.account-history {
  display: flex;
  flex-direction: column;
  &__table {
    position: relative;
    min-height: 40vh;
  }
  &__header {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    color: $color-primary;
  }
  &-bydate-header {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray;
    padding: 1.2rem 1rem;
    color: $color-gray-dark;
  }
  &-filter {
    display: flex;
    align-items: center;
    gap: 25px;

    .filter-checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;

      & > svg {
        width: 20px;
        & > path {
          fill: $color-gray-dark;
        }
      }

      &.active {
        & > svg > path {
          fill: #2ac1bc;
        }
      }

      &__amount {
        text-align: right;
        width: 100px;
      }
    }
  }
}
