.dropdown {
  &.hide {
    display: none;
  }

  animation: drop ease-in-out 0.5s;
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $color-line;
  background-color: $color-off-white;
  overflow: hidden;

  &__item {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;

    background-color: $color-off-white;
    color: $color-title-active;
    font-size: 16px;

    &:hover {
      background-color: $color-background;
    }

    & > button > svg {
      width: 16px;
    }
  }

  &__delimiter {
    margin: 0 auto;
    width: calc(100% - 48px);
    height: 1px;
    background-color: $color-line;
  }
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translate(-50%, 5px);
  }

  to {
    opacity: 1;
    transform: translateY(-50%, 0);
  }
}
