.account-form {
  width: 110%;
  transform: translateX(-5%);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-white;
  border-radius: 0.7rem;
  border: 1px solid $color-gray;
  margin-top: -2.5rem;
  padding: 16px 32px;

  &__delimiter {
    height: 44px;
    width: 1px;
    background-color: $color-placeholder;
    margin: 0 15px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    display: inline-block;
    flex: 1;
    &:first-child {
      border: none;
      flex: 0.7;
    }

    &.--dropable {
      flex: 0.6;
    }

    &:last-of-type {
      flex: 0.7;
    }
  }
  &-label {
    font-size: 12px;
    color: $color-primary;
    width: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.3rem;
  }
  &-dropdown-category,
  &-dropdown-method {
    text-align: start;
    width: 100%;
    position: relative;

    color: $color-gray-dark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__selected {
      color: $color-title-active;
      font-size: 16px;
    }

    & > svg {
      width: 16px;
    }
  }
  &-input {
    font-size: 16px;
    width: 100%;

    &.amount {
      text-align: right;
    }

    &::placeholder {
      color: $color-gray-dark;
    }
  }
  &-amount {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    & svg {
      width: 13px;
    }
  }

  &-button {
    margin-left: 15px;
    cursor: not-allowed;
    & > svg {
      width: 40px;
      & > path:first-child {
        fill: $color-gray-dark;
      }
    }

    &.active {
      cursor: pointer;
      & > svg {
        & > path:first-child {
          fill: $color-primary;
        }
      }
    }
  }

  input {
    border: none;
  }
  input::placeholder {
    color: $color-gray-dark;
  }
}
