.donut-chart-container {
  display: flex;
  gap: 80px;
  margin: 1rem auto;
  border: 0.2rem;
  background: #fcfcfc;
  border: 1px solid #ccd3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 35px 42px;
  width: 100%;

  & > div {
    flex: 1;
  }

  .donut-chart {
    width: 280px;
    display: flex;
    align-items: center;

    & > svg {
      animation: cute-donut ease-in 0.5s;
    }
  }
}

@keyframes cute-donut {
  0% {
    transform: scale(0.4) rotate(0);
  }

  75% {
    transform: scale(1.1) rotate(270deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
