.chart-container {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  border: 0.2rem;
  background: #fcfcfc;
  border: 1px solid #ccd3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 100px;
  width: 100%;
}
