.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 22%;
  background-color: $color-primary;
  color: $color-white;
  .header-title {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;

    font-family: 'Do Hyeon';
  }
  .nav {
    cursor: pointer;

    svg {
      width: 40px;
      pointer-events: none;
    }

    a {
      display: inline-block;

      &.active {
        path {
          stroke: white;
        }
      }
    }
  }
}

.month-controller {
  display: flex;
  text-align: center;
  font-family: 'Do Hyeon';
  & > button {
    margin: 0 3rem;

    & > svg {
      width: 24px;
    }
  }
  .month-controller-year {
    margin-top: 0.8rem;
    font-size: 24px;
    font-weight: 400;
  }
  .month-controller-month {
    font-size: 48px;
    font-weight: 400;
  }
}
