.history-item-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  border-bottom: 1px solid $color-gray;
}

.history-item-wrapper > div {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
