.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -40px;
  &-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    gap: 1px;
    width: 100%;
    height: 50px;
    background: #fcfcfc;
    border: 1px solid #ccd3d3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  &-body {
    /* Calender */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 600px;
    margin-top: 20px;
    /* Off-white */

    background: #fcfcfc;
    /* Line */

    border: 1px solid #ccd3d3;
    /* Elevation1 */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
